body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#btn1,#status,#objects{
    font-size: 18px;
}
canvas{
    border: 2px dashed white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(81, 226, 255);
}
#lbl1{
    color: yellow;
}